.App {
  text-align: center;
  background-color: #fafafa00;
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: #ffffff;
  background-image: url("../../assets/gplay.png");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-container {
  position: relative;
  margin-top: 20px;
  display: flex;
}

.column {
  padding: 10px;
}

.left {
  flex-basis: 25%;
  margin: 1rem 1rem;
  word-wrap: break-word;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.right {
  flex-basis: 75%;
  margin: 1rem 1rem;
}

hr {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }

  .left {
    flex-basis: 100%;
    order: 1;
  }

  .right {
    flex-basis: 100%;
    order: 0;
  }
}
