.container {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.left-thin {
    flex-basis: 25%;
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 0;
    word-wrap: break-word;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid black;
  }
  
.left-wide {
    flex-basis: 75%;
    margin-right: 10px;
    border: 1px solid black;
  }

  .right-thin {
    flex-basis: 25%;
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 0;
    word-wrap: break-word;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid black;
  }
  
.right-wide {
    flex-basis: 75%;
    margin-right: 10px;
    border: 1px solid black;
  }