.App {
  text-align: center;
  background-color: #fafafa00;
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: #ffffff;
  background-image: url("./assets/gplay.png");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row {
  position: relative;
  margin-top: 20px;
  display: flex;
}

.column {
  padding: 10px;
  border: 1px solid black;
}

.left {
  flex: 25%;
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 0;
}

.right {
  flex: 75%;
  margin-right: 10px;
}

hr {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
