body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  background-image: url("./gplay.png");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


